.SectionFotos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #efe8e8;
    .contenedor-fotos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 25px;
         max-width: 1000px;
         width: 100%;
         background: white;
         .card {
            width: 200px;
            margin: 50px 20px;
        }
         .sect-fotos {
            width: 255px;
            height: 255px;
            margin-bottom: 10px;
         }
         .p-text {
            font-size: 12px;
            font-weight: 500;
            color: gray;
            margin-bottom: 10px;
         }
         .parra-text {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
         }
         .parra-precio {
            color: red;
            font-weight: 600;
            font-size: 15px;
         }
    }
    @media (max-width: 768px) {
      .contenedor-fotos {
         padding: 20px;
         .card {
            width: 195px;
            margin: 15px 15px;
        }
        .sect-fotos {
         width: 220px;
         height: 220px;
      }
      .p-text {
         font-size: 12px;
         margin-bottom: 8px;
     }
      .parra-text {
         font-size: 12px;
         margin-bottom: 8px;
     }
     .parra-precio {
      font-size: 12px;
  }
      }
    }
}