.SectionInsta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #efe8e8;
    .contenedor-insta {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 25px;
         max-width: 1000px;
         width: 100%;
         background: white;
         .linea-insta {
            height: 2px;
            width: 60px;
            background-color:  #05233b;
            margin-bottom: 15px;
         }
         .title-insta {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
         }
         .parra-insta {
            font-size: 20px;
            color: gray;
            margin-bottom: 30px;
         }
         .cont-imginsta {
            display: flex;
            justify-content: center;
            align-items: center;
         }
         .content-imginsta {
            .img-insta {
                width: 175px;
                height: 175px;
                margin-right: 10px;
            }
        }
    }
    @media (max-width: 768px) {
      .contenedor-insta {
         .cont-imginsta {
            flex-wrap: wrap;
            .img-insta {
               margin-bottom: 10px;
           }
        }
      }
    }
}
