.Header {
    .content-store {
        display: flex;
        border-bottom: 1px solid #9E9E9E;;
        .parra-store {
            color: #ffffff;
            margin: 10px 0px 13px 90px;
            font-weight: 500;
        }
    }
    .content-busca {
        display: flex;
        background:#05233b;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        padding: 0 90px 0px 90px;
        .search {
            display: flex;
            align-items: center;
            .searchtext {
                color: #9E9E9E;
                margin-right: 10px;
            }
            .anticon {
                color: white;
                font-size: 20px;
                cursor: pointer;
            }
        }
        .title-a {
            color: white;
            font-weight: 700;
            font-size: 40px;
        }
        .content-icon {
           display: flex;
           .anticon {
            font-size: 25px;
            color: white;
            margin: 0 0 0 10px;
            cursor: pointer;
        }
        }
        
    }
   
    .menu-search {
        display: flex;
        justify-content: center;
        align-items: center;
        background:#05233b;
        padding-bottom: 60px;
        flex-direction: column;
        .linea-search {
            height: 1px;
            width: 1160px;
            background-color: #9E9E9E;
            margin-bottom: 10px;
           }
        .asearch {
            color: #ffffff;
            font-weight: 600;
            margin: 0 10px;
        }
    }
}