.Sectionmaps {
    .contenedor-maps {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        .title-maps {
            font-size: 30px;
            font-weight: 800;
            margin-bottom: 30px;
            margin-top: 30px;
        }
        .parra-maps {
            text-align: center;
            font-size: 18px;
            margin-bottom: 40px;
        }
        .maps {
            width: 800px;
            height: 450px;
             margin-bottom: 30px;
        }
    }
    @media (max-width: 768px) {
        .contenedor-maps{
            .parra-maps {
                font-size: 15px;
                margin-bottom: 30px;
            }
            .maps {
                width: 500px;
                height: 400px; 
            }
        }
       
    }
}