.Footer {
    .barrafooter{
        background:#021b2f;
    display: flex;
    justify-content: center;
    align-items: center;
    .titlefooter {
        color: #ffffff;
        font-size: 10px;
        margin: 10px;
    }
    }
}