.Signup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135%;
    .container-signup {
     display: flex;
     align-items: center;
     height: 800px;
     border: 1px solid #9a9595;
     border-radius: 20px;
     max-width: 1400px;
    }
    .empresario-fond {
      background: linear-gradient(0deg, #05233bd1, #05233bcc),url("../../img/empresario.jpg");
      margin: auto;
      width: 140%;
      height: 100%;
       max-width: 500px;
      border-top-left-radius: 20px;
       border-bottom-left-radius: 20px;   
    }
    .contenedor-formulario {
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 1100px;
        .text-pp {
            display: flex;
            margin-bottom: 20px;
            .text-p1 {
              margin-right: 10px;
            }
            .text-p2 {
            font-weight: 700;
            }
        }
        .title-formu {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 20px;
            margin-top: 30px;
        }
        .parra-formu {
            text-align: left;
            margin-bottom: 20px;
        }
        .formu-input {
            .input-text {
                .text-label {
                     font-weight: 600;   
                }
            }
        }
        .ant-btn-primary {
            color: #fff;
            background: #05233b;
            border-color: #05233b;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
            -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
            border-radius: 20px;
            font-weight: 600;
        }
        .ant-input {
            border-radius: 20px;
        }
        .ant-input-affix-wrapper {
            border-radius: 20px;
        }
        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #05233b;
            border-color: #05233b;
            border-radius: 50%;
        }
        .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
            border-color: #05233b;
            border-radius: 50%;
        }
        .ant-checkbox-inner {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            width: 16px;
            height: 16px;
            direction: ltr;
            background-color: #fff;
            border: 1px solid #05233b;
            border-radius: 50%;
            border-collapse: separate;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
       
    }
    @media (max-width: 768px) { 

        
    }
    
}