header {
  width: 100%;
  height: 40px;
  background: #05233b;
}
/*SECCION 1*/
.section1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
  margin: 0 40px;
}
.menu-item {
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  display: flex;
  margin: 0 50px;
  padding: 20px;
}
/*SECCION 2*/
p.psect2 {
  margin-bottom: 30px;
}
.title2 {
  display: flex;
  margin: 0 50px;
  padding: 25px;
  color: white;
  font-weight: 600;
  font-size: 30px;
}
.sect2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background:#05233b;
  padding: 20px;
  padding-bottom: 40px;
}
.sect2 > p {
  color: white;
}
.button-class { 
  display: flex;
}
button.buttonsect2 {
  height: 50px;
  margin: 0 10px;
  width: 120px;
  cursor: pointer;
  transition: 1s;
}
.buttonsect2:hover {
  background: #16a086;
  color: white;
  border-color: #16a086;
}
/*SECCION 3*/
.sect3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  width: 300px;
  height: auto;
}
.title3 {
  font-weight: 600;
  font-size: 25px;
  margin: 45px;
}
.linea {
  height: 2px;
  width: 50px;
  background-color: black;
  margin-top: -30px;
}
.card-body {
  flex: 1 1 auto;
    min-height: 1px;
    background: #05233b;
    width: 300px;
    margin: 20px;
}
.text-card {
  margin-top: 0;
    margin-bottom: 1rem;
    color: white;
}
.title-card {
  color: white;
  font-weight: 600;
  margin-bottom: 10px
}
.content-card {
  display: flex;
  margin-top: 20px;
}
.padi {
  padding: 20px;
}
/*SECCION 4*/
.oculto {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.buttonone {
  width: 80px;
  height: 25px;
  font-size: 10px;
  background: whitesmoke;
  border-color: whitesmoke;
  color: #635b5b;
  margin-top: 15px;
  cursor: pointer;
}
.title-card2 {
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
}
.textone {
  text-align: center;
  margin: 5px 0;
  font-size: 11px;
}
.sect4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  padding-bottom: 30px;
}
.content-card2 {
  display: flex;
  margin-top: 40px;
}
.card-body2 {
  width: 200px;
  margin: 0 20px;
  height: 200px;
  background: #f5f5f5;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000054;
    cursor: pointer;
    transition: 1s;
}
.card-body2:hover {
  background: #16a086;
  color:#ffffff;
  transform: scale(1.1);
}
.card-body2:hover > .oculto {
  display: flex;
}
.imgp {
  width: 50px;
  height: 50px;
}
.padi2 {
  padding: 20px;
  padding-bottom: 0;
}
/*SECCION 5*/
.sect5 {
  background:#05233b;
  display: flex;
  padding: 20px 120px;
  align-items: center;
}
.title4 {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 45px;
}
.linea2 {
  height: 2px;
  width: 50px;
  background-color: #ffffff;
  margin-top: -35px;
  margin-bottom: 20px;
}
.parra {
  color: #ffffff;
}
.contect2 {
  display: flex;
    align-items: center;
    flex-wrap: wrap;
}
button.buttonsect3 {
  height: 46px;
    margin: 0 19px;
    width: 100px;
    cursor: pointer;
    transition: 1s;
}
.buttonsect3:hover {
  background: #16a086;
  color: white;
  border-color: #16a086;
}
.contect1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 20px;
}
.boxi {
  margin: 0 20px 24px 0;
  height: 45px;
  width: 250px;
}
.form-control {
  width: 250px;
  height: 45px;
}
/*SECCION 6 */
.sect6 { 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oculto2 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.content-text6:hover > .oculto2{
  display: flex;
  height: 100%;
}
.textone {
  text-align: center;
  margin: 2px 0;
  font-size: 12px;
}
.title-cardt {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}
.card-imagen:hover {
  background:#05233b94;
  color: #ffffff;
  text-align: center;
}
.card-imagen {
  width: 100%;
  height: auto;
}
.content-text6 {
  display: flex;
  background: #05233b94;
  height: auto;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 10px;
  justify-content: center;
  transition: .5s; 
}
.content-text6:hover {
  height: 100%;
  padding: 30px;
}
.content-card6 {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 250px;
  height: 200px;
  background-size: cover;
  align-items: flex-end;
}
.contenedorcard6 {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.card-1 {
  background-image: url("./img/expancion.png");
}
.card-2 {
  background-image: url("./img/training.jpg");
}
.card-3 {
  background-image: url("./img/business.jpg");
}
/*SECCION 7*/
.sect7 {
  display: flex;
  background: #05233b;
  justify-content: center;
  align-items: center;
}
.hisect7 {
  color: white;
  margin: 0;
  font-size: 40px;
}
.psect7 {
  color: #ffffff;
  font-size: 12px;  
  margin: 0;
}
.contectsect7 {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 30px;
}
.section7 {
  padding: 20px;
  background: #05233b;
}
/*SECCION 8*/
.sect8 {
  display: flex;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-body8 {
  flex: 1 1 auto;
    min-height: 1px;
    background: #ffffff;
    width: 300px;
    margin: 20px;
}
.imgcard8 {
  width: 300px;
  height: auto;
}
.button8 {
  width: 100px;
  height: 30px;
  font-size: 11px;
  background: #16a086;
  border-color: #16a086;
  color: white;
  margin-top: 15px;
  cursor: pointer;
}
.button8:hover {
  transform: scale(1.1);
}
.text-card8 {
  margin-top: 0;
    margin-bottom: 1rem;
    color: #000000;
}
.title-card8 {
  color: #000000;
  margin: 0;
  font-weight: 600;
  margin-bottom: 11px;
}
.contentcard8 {
  display: flex;
  margin-top: 20px;
}
.padi8 {
  padding: 20px;
}
.contenttext8 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.lineav {
  background-color: #bfbfbf;
  height: 20px;
  width: 2px
}
/*SECCION 9*/

.sect9 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  height: 100%;
}
.logossect9 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.imglogo {
  width: 100px;
  height: 100px;
  margin: 0px 10px;
}
/*SECCION  10*/
.section10 {
  background: #05233b;
}
.title10 {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  margin: 45px;
}
.linea10 {
  height: 2px;
  width: 50px;
  background-color: #ffffff;
  margin-top: -30px;
}
.contenttitle10 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*SECCION 11*/
.sect11 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text11 {
  margin: 35px;
}
.inputcorreo {
  justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.inputemail {
  width: 330px;
    height: 40px;
    border: 1px solid #16a086;
}

.button11 {
  width: 100px;
  height: 40px;
  background: #16A085;
  color: #ffffff;
  border: 1px solid #16A085;
  cursor: pointer;
}
/*SECCION 12*/
.section12 {
  background: #16344c;
}
.sect12 {
  display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 48px 14px;
}
.title12 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.parra12 {
    color: #ffffff;
    margin-right: 20px;
    line-height: 30px;
}
.conttitleone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}
.contcontact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}
.contentparra {
  list-style: disc;
  margin-right: 35px;
    margin-left: 20px;
}
.contentcompany {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contul {
  display: flex;
}
.imggallery {
  width: 110px;
  height: 100px;
  margin: 0px 10px;
}
.contentfotos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.galleryfoto {
  margin-bottom: 15px;
}