@import
  "../../pages/home/Home.scss",
  "../../pages/Login/Login.scss",
  "../../pages/Signup/Signup.scss",
  "../../pages/Store/Store.scss";
  


@import
  "../../components/Footer/Footer.scss",
  "../../components/Header/Header.scss",
  "../../components/PageStore/SectionCard/SectionCard.scss",
  "../../components/PageStore/SectionCaroucel/SectionCaroucel.scss",
  "../../components/PageStore/SectionFotos/SectionFotos.scss",
  "../../components/PageStore/SectionInsta/SectionInsta.scss",
  "../../components/PageStore/FooterStore/FooterStore.scss";


